body, html{
    font-family: 'Raleway';
    color: #fff;
    height: 100%;
    scroll-behavior: smooth;
}
.bg {
  
    background-image: url("../images/bg.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


.progress{
    background-color: #ffffff00;
    z-index: 1000;
}

.progress-label {
    margin-right: 1em;
    width: auto;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    font-size: 16pt;
    line-height: 20pt;
    font-family: 'Lucida Console';
}

.text {
    line-height: 20pt;
    margin: 0 0 20px 0;
    pointer-events: none;
    z-index: 1;
    font-size:2vw;
}

.highlight {
    color: #31dfdf;
}

.button {
    border: 2px solid #fff;
    box-sizing: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: 13pt;
    padding: 10px 20px;
    background-color: #ffffff00;
    color: #fff;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 1000;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:cornflowerblue;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}
  
#myBtn:hover {
    background-color: #555;
}

#img-logo{
    width: 0;
    height: 0;
}

#about{
    background-color: rgb(231, 231, 231);
}


.stretch-card>.card {
    width: 100%;
    min-width: 100%
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

.padding {
    padding: 1rem
}

.card {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff00;
    background-clip: border-box;
    border-radius: 0;
    columns: 3;
}

.card .card-block {
    padding: 1.25rem;
}

h6 {
    font-size: 16px !important;
}

.text-c-green {
    color: #2ed8b6;
}

.m-l-10 {
    margin-left: 10px;
}

.proj-progress-card .progress {
    height: 6px;
    overflow: visible;
    margin-bottom: 10px;
}

.proj-progress-card .progress .progress-bar {
    position: relative;
}

.progress .progress-bar {
    height: 100%;
    color: inherit;
}

.bg-c-red {
    background: #FF5370;
}

.proj-progress-card .progress .progress-bar.bg-c-red:after {
    border: 3px solid #FF5370;
}

.proj-progress-card .progress .progress-bar:after {
    content: "";
    background: #fff;
    position: absolute;
    right: -6px;
    top: -4px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.bg-c-blue {
    background: #4099ff;
}

.proj-progress-card .progress .progress-bar.bg-c-blue:after {
    border: 3px solid #4099ff;
}

.proj-progress-card .progress .progress-bar.bg-c-green:after {
    border: 3px solid #2ed8b6;
}

.bg-c-green {
    background: #2ed8b6;
}

.bg-c-yellow {
    background: #FFB64D;
}

.bg-pr-orange{
    background-color: #f47c48;
}

.proj-progress-card .progress .progress-bar.bg-c-yellow:after {
    border: 3px solid #FFB64D;
}

.m-b-30 {
    margin-bottom: 30px;
}

.text-c-red {
    color: #FF5370;
}

.circle {
    border-radius: 50%;
    background-color: #2ed8b6;
    width: 115px;
    height: 115px;
}

.text-lema{
    font-family: 'lucida console';
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
  }
  
  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
    background-color: #000000b0;
    top: -200px;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.1s ease-out 0.5s;
    transition: all 0.1s ease-out 0.5s;
  }
  
  .hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    top: 0px;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  
  .hovereffect img {
    display: block;
    position: relative;
  }
  
  .hovereffect h2 {
    text-transform: uppercase;
    color: #000;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.7);
    -webkit-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    transform: translateY(-200px);
    -webkit-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }

  .hovereffect h6 {
    color: #fff;
    text-align: center;
  }
  
  .hovereffect:hover h2 {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  
  .hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
    margin: 50px 0 0 0;
    background-color: transparent;
    -webkit-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    transform: translateY(-200px);
    color: #fff;
    border: 1px solid #fff;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
  }
  
  .hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
  }
  
  .hovereffect:hover a.info {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    box-shadow: 0 0 5px #fff;
    color: #fff;
    border: 1px solid #fff;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }


input[type=text], textarea {
    width: 100%; 
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-bottom: 5px; 
    resize: vertical;
  }

  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }


.switch {
    position:absolute;
    display: inline-block;
    width: 60px;
    height: 24px;
  }
  

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid #fff;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 8px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: transparent;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 24px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .slider:after
  {
   content:'Esp';
   color: white;
   display: block;
   position: absolute;
   transform: translate(-50%,-50%);
   top: 50%;
   right: 2%;
   font-size: 10px;
   font-weight: bold;
  }
  
  input:checked + .slider:after
  {  
    content:'Eng';
    left: 40%;
  }


  .alert{
    text-align: center;
    padding: 10px;
    background-color: #79c879;
    color: #fff;
    margin-bottom: 10px;
    display: none;
  }

  .alert-warning, .alert-email{
    text-align: center;
    padding: 10px;
    background-color: #f7a25c;
    color: #fff;
    margin-bottom: 10px;
    display: none;
  }

  .alert-link{
    text-align: center;
    padding: 10px;
    background-color: #c87979;
    color: #fff;
    margin-bottom: 10px;
    display: none;
  }


@media only screen and (max-width: 540px) {

  .center .h1{
    font-size: 6vw;
  }
  .center a{
    font-size: 4vw;
  }
  .center{
    width: 100%;
    padding: 2%;
  }
  
  .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .navbar-toggler.navbar-toggler {
    border-color: rgb(255, 255, 255);
  } 

  .navbar-collapse{
    text-align: center;
    background-color:rgba(94, 94, 94, 0.671);
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-top-right-radius: 5%;
    width: 100%;
  }

  .switch{
    margin-top: 8px;
    top: 0;
    right: 0;
  }

  section{
    overflow: scroll;
  }
}

@media screen and (min-width: 530px) and (max-width: 768px){

  .center .h1{
    font-size: 6vw;
  }
  .center a{
    font-size: 4vw;
  }
  .center{
    width: 100%;
    padding: 2%;
  }
  
  .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .navbar-toggler.navbar-toggler {
    border-color: rgb(255, 255, 255);
  } 

  .navbar-collapse{
    text-align: center;
    background-color:rgba(94, 94, 94, 0.671);
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-top-right-radius: 5%;
    width: 100%;
  }

  .switch{
    margin-top: 8px;
    top: 0;
    right: 0;
  }
}
